    {{> head}}


    <!-- parte de codigo para poder ser utilizado-->
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Habitacion numero 8</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ratione eius impedit necessitatibus, minima quas pariatur unde
                 asperiores perspiciatis quae, labore soluta inventore officia 
                 doloremque eum error nihil ad esse maxime.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/habitacion8.jpg" class="img-thumbnail">
        </div>
    </div>
    {{> footer}}